@media (max-width: 400px) {
  .city-name {
    font-size: 34px !important;
  }
  .input-city {
    width: 40% !important;
  }
  .input-city,
  .btn-location,
  .btn-search-city {
    height: 40px !important;
  }
  .set-city-form {
    padding-top: 10px;
  }
  ::placeholder {
    color: transparent !important;
  }
  .temp-info {
    font-size: 26px !important;
  }
  .unit {
    font-size: 12px !important;
  }
  .description {
    font-size: 16px !important;
  }
  .icon-weather {
    width: 140px !important;

    margin: -20px !important;
  }
  .humidity,
  .wind {
    font-size: 12px !important;
  }
}

.card-main-weather {
  background: var(--background-gradient);
  display: block;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
  border-radius: 10px;
  height: max-content !important;
}
.card-main-weather:hover {
  background: var(--background-gradient-hover);
}
.city-name {
  font-weight: bold;
  font-size: 40px;
}
.date-info {
  font-size: 15px;
}
.set-city-form {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.input-city {
  width: 60%;
  padding: 12px 20px;
  border: 1px solid var(--color-secondary);
  border-radius: 7px;
  background: var(--text-color);
  color: var(--background);
  height: 50px;
}
.input-city:focus {
  outline-width: 0;
}
::placeholder {
  color: var(--background);
  opacity: 0.7;
}
.btn-location,
.btn-search-city {
  color: var(--text-color);
  background: var(--color-secondary);
  border: none;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  width: 50px;
  height: 50px;
}
.btn-location:hover,
.btn-search-city:hover {
  background: var(--color-primary);
  color: var(--background);
  cursor: pointer;
  opacity: 0.8;
  border: 1px solid var(--color-secondary);
}
.unit {
  font-size: 18px;
  vertical-align: top;
  text-align: left;
}
.celsius,
.fahrenheit {
  color: var(--text-color);
  text-decoration: none;
}

.celsius:hover,
.fahrenheit:hover {
  color: var(--background);
  opacity: 0.8;
}
.temp-info {
  font-size: 36px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.description {
  font-size: 20px;
}
.container-icon-weather {
  margin: 0px;
  padding: 0px;
}
.icon-weather {
  width: 160px;
  max-width: 100%;
  height: auto;
  margin: -50px;
}
.humidity,
.wind {
  font-size: 18px;
}
