.sign {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}
.sign a {
  font-size: 14px;
  color: var(--text-color) !important;
  text-decoration: none;
  opacity: 0.7;
}
.sign a:hover {
  font-size: 16px;
  opacity: 1;
}
