:root {
  --background: #243a73;
  --text-color: #f2ebe9;
  --color-secondary: #7c3e66;
  --color-primary: #a5becc;
  --background-gradient: linear-gradient(to left top, #243a73, #a5becc);
  --background-gradient-hover: linear-gradient(to left top, #a5becc, #243a73);
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  --border-primary: 2px solid #243a73;
}

@media (max-width: 1234px) {
  .card-main-weather,
  .card-daily-weather {
    height: 300px !important;
  }
  .icon-weather {
    margin: -50px !important;
  }
  .set-city-form {
    margin-top: 14px;
  }
  .input-city {
    width: 50% !important;
    height: 40px !important;
  }
  .btn-location,
  .btn-search-city {
    height: 40px !important;
    width: 40px !important;
  }
  .temp-range {
    font-size: 16px !important;
  }
  .weather-forecast-date {
    font-size: 22px !important;
  }
  .icons-daily {
    font-size: 34px !important;
  }
  .weather-forecast-temperatures {
    font-size: 18px !important;
  }
}
@media (max-width: 994px) {
  .card-daily-weather {
    height: 360px !important;
  }
}
@media (max-width: 634px) {
  ::placeholder {
    font-size: 14px !important;
  }
  .card-main-weather {
    height: 340px !important;
  }
  .daily-forecast {
    font-size: 22px !important;
  }
  .description {
    font-size: 18px !important;
    margin-bottom: 0px !important;
  }
  .humidity,
  .wind {
    font-size: 16px !important;
  }
  .unit {
    font-size: 12px !important;
  }
  .icon-weather {
    margin: -30px !important;
  }
  .temp-range {
    margin-top: 0px !important;
  }
  .city-name {
    font-size: 30px !important;
  }
  .weather-forecast-date {
    font-size: 20px !important;
  }
  .icons-daily {
    font-size: 32px !important;
  }
  .weather-forecast-temperatures {
    font-size: 14px !important;
  }
}
@media (max-width: 450px) {
  ::placeholder {
    font-size: 10px !important;
  }
  .description {
    font-size: 16px !important;
  }
  .city-name {
    font-size: 26px !important;
  }
  .temp-info {
    font-size: 24px !important;
  }
  .input-city {
    padding: 6px 10px !important;
    height: 36px !important;
  }
  .btn-location,
  .btn-search-city {
    height: 36px !important;
    width: 36px !important;
  }
}
@media (max-width: 300px) {
  .city-name {
    font-size: 24px !important;
  }
  .temp-info {
    font-size: 20px !important;
  }
  .humidity,
  .wind {
    font-size: 6px !important;
  }
  .card-body {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}

body {
  background: var(--background);
  font-family: var(--default-font-family);
  color: var(--text-color);
  cursor: pointer;
  opacity: 0.8;
}
.city-name {
  font-weight: bold;
  font-size: 40px;
}
.daily-forecast {
  font-size: 26px;
}
.date-info {
  font-size: 15px;
}
.temp-range {
  font-size: 18px;
}
.card-main-weather,
.card-daily-weather {
  background: var(--background-gradient);
  display: block;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
  border-radius: 10px;
  height: 280px;
}
.card-main-weather:hover,
.card-daily-weather:hover {
  background: var(--background-gradient-hover);
}
.set-city-form {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.input-city {
  width: 60%;
  padding: 12px 20px;
  border: 1px solid var(--color-secondary);
  border-radius: 7px;
  background: var(--text-color);
  color: var(--background);
  height: 50px;
}
.input-city:focus {
  outline-width: 0;
}
::placeholder {
  color: var(--background);
  opacity: 0.7;
}
.btn-location,
.btn-search-city {
  color: var(--text-color);
  background: var(--color-secondary);
  border: none;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  width: 50px;
  height: 50px;
}
.btn-location:hover,
.btn-search-city:hover {
  background: var(--color-primary);
  color: var(--background);
  cursor: pointer;
  opacity: 0.8;
  border: 1px solid var(--color-secondary);
}
.unit {
  font-size: 18px;
  vertical-align: top;
  text-align: left;
}
.celsius,
.fahrenheit {
  color: var(--text-color);
  text-decoration: none;
}

.celsius:hover,
.fahrenheit:hover {
  color: var(--background);
  opacity: 0.8;
}
.temp-info {
  font-size: 36px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.description {
  font-size: 20px;
}
.container-icon-weather {
  margin: 0px;
  padding: 0px;
}
.icon-weather {
  width: 160px;
  max-width: 100%;
  height: auto;
  margin: -70px;
}
.humidity,
.wind {
  font-size: 18px;
}
.sign {
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}
.source-code {
  color: var(--text-color);
}
.source-code:hover {
  color: var(--text-color);
  font-size: 14px;
}

.weather-forecast-date {
  font-size: 24px;
}
.icons-daily {
  font-size: 36px;
}
.weather-forecast-temperatures {
  font-size: 20px;
}
